import(sp)
import(zoo)
import(xts)
import(lattice)
import(methods)

exportClasses(
	xts, 
	ST, STF, STFDF, 
	STS, STSDF, 
	STI, STIDF, STIDFtraj, 
	ltraj)

export(ST, 
	STF, STFDF,
	STS, STSDF,
	STI, STIDF,
	as.data.frame.STF,
	as.data.frame.STS,
	as.data.frame.STI,
	as.data.frame.STFDF,
	as.data.frame.STSDF,
	as.data.frame.STIDF,
	unstack.STFDF,
	stplot,
	stConstruct,
	na.omit.STFDF,
	EOF)

S3method(as.data.frame, STF)
S3method(as.data.frame, STFDF)
S3method(as.data.frame, STSDF)
S3method(as.data.frame, STIDF)
S3method(as.xts, STIDF)
S3method(index, STF)
S3method(index, STS)
S3method(index, STI)
S3method(index, STFDF)
S3method(index, STSDF)
S3method(index, STIDF)
S3method(dim, ST)
S3method(dim, STF)
S3method(dim, STS)
S3method(dim, STI)
S3method(dim, STFDF)
S3method(dim, STSDF)
S3method(dim, STIDF)
#S3method(unstack, STFDF)
S3method(print, summary.ST)
S3method(rbind, STIDFtraj)
