# import(sp)
import(zoo)
import(xts)
import(lattice)
# import(methods)
importFrom(stats, aggregate)
importFrom(utils, stack)

exportClasses(
	xts, 
	ST, STF, STFDF, 
	STS, STSDF, 
	STI, STIDF, 
	STT, STTDF, 
	ltraj)

export(ST, 
	STF, STFDF,
	STS, STSDF,
	STI, STIDF,
	as.data.frame.STF,
	as.data.frame.STS,
	as.data.frame.STI,
	as.data.frame.STFDF,
	as.data.frame.STSDF,
	as.data.frame.STIDF,
	unstack.STFDF,
	stplot,
	stConstruct,
	na.omit.STFDF,
	EOF, 
	#aggregate.ST,
	cbind.ST,
	rbind.STIDF,
	rbind.STSDF,
	rbind.STFDF,
	timeMatch)

#exportMethods(proj4string, "proj4string<-", is.projected)
exportMethods(aggregate, timeIsInterval, "timeIsInterval<-")

S3method(as.data.frame, STF)
S3method(as.data.frame, STFDF)
S3method(as.data.frame, STSDF)
S3method(as.data.frame, STIDF)
S3method(as.xts, STIDF)
S3method(dim, ST)
S3method(dim, STF)
S3method(dim, STS)
S3method(dim, STI)
S3method(dim, STFDF)
S3method(dim, STSDF)
S3method(dim, STIDF)
S3method(index, STF)
S3method(index, STS)
S3method(index, STI)
S3method(index, STFDF)
S3method(index, STSDF)
S3method(index, STIDF)
S3method(length, STF)
S3method(length, STS)
S3method(length, STI)
S3method(length, STFDF)
S3method(length, STSDF)
S3method(length, STIDF)
#S3method(unstack, STFDF)
S3method(print, summary.ST)
#S3method(rbind, STIDFtraj)
S3method(stack, STFDF)
S3method(stack, STSDF)
S3method(stack, STIDF)
